[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Wagic
Exec=/opt/wagic/bin/wagic
Icon=wagic-64x64
StartupWMClass=wagic
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Terminal=false

